*.pyc
*.pyd
*.pyo
*.so
.Python
.coverage
.dmypy.json
.hypothesis/
.mypy_cache/
.nox/
.poetry
.pyre/
.pytest_cache
.pytype/
.ruff_cache/
.tox/
.venv
__pycache__
cert.pem
dmypy.json
htmlcov/
key.pem
state/
