{% extends "layouts/base.html" %}

{# djlint:off #}
{%- block title -%}Error ~ ATR{%- endblock title -%}

{%- block description -%}An error occurred while processing your request.{%- endblock description -%}
{# djlint:on #}

{% block content %}
  <div>
    <h1>Error</h1>
    <div class="my-4 p-3 border border-danger rounded bg-danger-subtle">
      <h2 class="text-danger-emphasis mt-0">{{ error }}</h2>
      <p>An error occurred while processing your request. This has been logged and will be addressed.</p>

      {% if status_code %}
        <p>
          <strong>Status Code:</strong> {{ status_code }}
        </p>
      {% endif %}

      {% if traceback %}
        <div class="mt-4">
          <h3>Technical Details</h3>
          <pre class="bg-light p-3 overflow-auto font-monospace border rounded">{{ traceback }}</pre>
        </div>
      {% endif %}
    </div>

    <div class="mt-4">
      <a href="{{ as_url(get.root.index) }}" class="btn btn-primary">Return to Home</a>
    </div>
  </div>
{% endblock content %}
