{% extends "layouts/base.html" %}

{# djlint:off #}
{%- block title -%}404 ~ ATR{%- endblock title -%}

{%- block description -%}An error occurred while cessing your request.{%- endblock description -%}
{# djlint:on #}

{% block content %}
  <div>
    <h1>Error</h1>
    <div class="my-4 p-3 border border-danger rounded bg-danger-subtle">
      <h2 class="text-danger-emphasis mt-0">{{ error }}</h2>
      <p>
        The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.
      </p>

      {% if status_code %}
        <p>
          <strong>Status Code:</strong> {{ status_code }}
        </p>
      {% endif %}
    </div>

    <div class="mt-4">
      <a href="{{ as_url(get.root.index) }}" class="btn btn-primary">Return to Home</a>
    </div>
  </div>
{% endblock content %}
