{% extends "layouts/base.html" %}

{# djlint:off #}
{%- block title -%}Select a project ~ ATR{%- endblock title -%}

{%- block description -%}Select a project ~ ATR{%- endblock description -%}
{# djlint:on #}

{% block content %}

  <h1>Select a project</h1>
  {% if user_projects %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for project in user_projects %}
        <div class="col">
          <a href="{{ as_url(get.release.select, project_name=project.name) }}"
             class="text-decoration-none">
            {# TODO: We're only setting data-project-url for style #}
            <div class="card h-100 shadow-sm atr-cursor-pointer"
                 data-project-url="{{ as_url(get.release.select, project_name=project.name) }}">
              <div class="card-body">
                <h3 class="card-title fs-5 mb-2">{{ project.display_name }}</h3>
                <h4 class="card-subtitle mb-2 text-muted fs-6">{{ project.name }}</h4>
                <p>
                  {% if project.committee.is_podling or project.name.startswith("incubator-") %}
                    <img src="https://incubator.apache.org/images/SVG/apache_incubator.svg"
                         alt="" />
                  {% else %}
                    <img src="https://www.apache.org/logos/originals/{{ project.name }}.svg"
                         alt="" />
                  {% endif %}
                </p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-warning" role="alert">
      You are not currently listed as a participant (committer, PMC member, or RM) in any projects known to ATR.
      You may need to add a project or check your committee memberships.
    </div>
  {% endif %}
{% endblock content %}
