{% extends "layouts/base.html" %}

{# djlint:off #}
{%- block title -%}Releases ~ ATR{%- endblock title -%}

{%- block description -%}Review public releases.{%- endblock description -%}
{# djlint:on #}

{% block stylesheets %}
  {{ super() }}
  <style>
      .page-release-meta-item::after {
          content: "•";
          margin-left: 1rem;
          color: #ccc;
      }

      .page-release-meta-item:last-child::after {
          content: none;
      }
  </style>
{% endblock stylesheets %}

{% block content %}
  <h1>Releases</h1>

  {% if releases %}
    {% for project_display_name in projects|sort %}
      {% set project, count = projects[project_display_name] %}
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h3 class="card-title mb-3">{{ project_display_name }}</h3>
          <p class="card-text">
            <a href="{{ as_url(get.release.finished, project_name=project.name) }}"
               class="btn btn-outline-primary">
              <i class="bi bi-folder2-open me-1"></i> Finished releases (<code>{{ count }}</code>)
            </a>
          </p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-secondary fst-italic">There are no releases available.</p>
  {% endif %}
{% endblock content %}
