{% extends "layouts/base.html" %}

{%- block title -%}Resolve vote ~ ATR{%- endblock title -%}

{%- block description -%}Resolve vote for a release.{%- endblock description -%}

{% block content %}
  <p>
    <a href="{{ as_url(get.vote.selected, project_name=release.project.name, version_name=release.version) }}"
       class="atr-back-link">← Back to Vote for {{ release.short_display_name }}</a>
  </p>

  <h1>Resolve vote for {{ release.short_display_name }}</h1>

  <h2>Tabulated votes</h2>
  <p>
    This page attempts to automatically tabulate votes from
    {% if archive_url %}
      <a href="{{ archive_url }}" target="_blank">the vote email thread</a>
    {% else %}
      the vote email thread
    {% endif %}
    for you. It is not always possible to parse the votes accurately, so you should check the results carefully. <strong>Do not use this page to decide how to resolve the vote without manual review.</strong>
  </p>
  {% if tabulated_votes %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ASF UID or email</th>
          <th class="text-center">Vote</th>
          <th class="text-center">Status</th>
          <th class="text-center">Link</th>
          <th>Quotation</th>
        </tr>
      </thead>
      <tbody>
        {% for asf_uid, vote_email in tabulated_votes.items() %}
          <tr>
            <td class="atr-nowrap">{{ vote_email.asf_uid_or_email }}</td>
            <td class="atr-nowrap text-center {% if vote_email.status.value == 'Binding' %}fw-bold{% endif %} {% if vote_email.vote.value == 'Yes' %}atr-green{% elif vote_email.vote.value == 'No' %}atr-red{% endif %}">
              {{ vote_email.vote.value }}
            </td>
            <td class="atr-nowrap text-center {% if vote_email.status.value == 'Binding' %}fw-bold{% endif %}">
              {{ vote_email.status.value }}
            </td>
            <td class="atr-nowrap text-center">
              <a href="https://lists.apache.org/thread/{{ vote_email.asf_eid }}"
                 target="_blank">Email</a>
            </td>
            <td>{{ vote_email.quotation }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if summary %}
      <h2>Vote summary</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Vote type</th>
            <th>Yes</th>
            <th>No</th>
            <th>Abstain</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Binding votes</td>
            <td>{{ summary.binding_votes_yes }}</td>
            <td>{{ summary.binding_votes_no }}</td>
            <td>{{ summary.binding_votes_abstain }}</td>
            <td>{{ summary.binding_votes }}</td>
          </tr>
          <tr>
            <td>Non-binding votes</td>
            <td>{{ summary.non_binding_votes_yes }}</td>
            <td>{{ summary.non_binding_votes_no }}</td>
            <td>{{ summary.non_binding_votes_abstain }}</td>
            <td>{{ summary.non_binding_votes }}</td>
          </tr>
          <tr>
            <td>Unknown votes</td>
            <td>{{ summary.unknown_votes_yes }}</td>
            <td>{{ summary.unknown_votes_no }}</td>
            <td>{{ summary.unknown_votes_abstain }}</td>
            <td>{{ summary.unknown_votes }}</td>
          </tr>
        </tbody>
      </table>
    {% endif %}
    <h2>Vote outcome</h2>
    <p>
      {% if outcome %}
        {{ outcome }}
      {% else %}
        No outcome yet.
      {% endif %}
    </p>
  {% elif fetch_error %}
    <div class="alert alert-danger">{{ fetch_error }}</div>
  {% else %}
    <p>No votes tabulated yet.</p>
  {% endif %}
  {% if resolve_form %}
    <h2>Resolve vote</h2>
    <div class="border rounded bg-warning-subtle p-3 mb-3">
      <i class="bi bi-info-circle me-1"></i>
      <strong>NOTE:</strong> We are allowing a vote to be resolved early in order to facilitate testing. This is not the final behaviour.
    </div>
    <p>
      If, after careful manual review of the information above, you concur with the automatically determined outcome of the vote, please enter the resolution email body here. Sending this will send the email to a new vote result thread, and the vote will be resolved.
    </p>
    {{ resolve_form }}
  {% endif %}
{% endblock content %}
