{% extends "layouts/base.html" %}

{%- block title -%}All releases ~ ATR Admin{%- endblock title -%}

{%- block description -%}View all releases across all stages and phases, for debugging.{%- endblock description -%}

{% block content %}
  <h1>All releases</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Release name</th>
        <th>Committee</th>
        <th>Project</th>
        <th>Phase</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {% for release in releases %}
        <tr>
          <td>
            {% if release.project %}
              <a href="{{ release_as_url(release) }}">{{ release.name }}</a>
            {% else %}
              {{ release.name }}
            {% endif %}
          </td>
          <td>{{ release.project.committee.name if release.project and release.project.committee else "N/A" }}</td>
          <td>{{ release.project.name if release.project else "N/A" }}</td>
          <td>
            {% set phase_value = release.phase.value %}
            <!-- {{ phase_value }} <br> -->
            {% if phase_value == "release_candidate_draft" %}
              <span class="badge bg-secondary">1. Draft</span>
            {% elif phase_value == "release_candidate" %}
              <span class="badge bg-info">2. Candidate</span>
            {% elif phase_value == "release_preview" %}
              <span class="badge bg-warning text-dark">3. Preview</span>
            {% elif phase_value == "release" %}
              <span class="badge bg-success">4. Release</span>
            {% else %}
              <span class="badge bg-dark">Unknown</span>
            {% endif %}
          </td>
          <td>{{ release.created.strftime("%Y-%m-%d") }}<br>{{ release.created.strftime("%H:%M:%S UTC") }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="6">No releases found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
