name: Build and test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

env:
  UV_VERSION: '0.8.8'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.13'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc # v6.4.3
        with:
          version: ${{ env.UV_VERSION }}

      # Cache packages per python version, and reuse until lockfile changes
      - name: Cache python packages
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .venv
          key: venv-${{ matrix.python-version }}-${{ hashFiles('uv.lock') }}
      - name: Install dependencies
        #if: steps.cache.outputs.cache-hit != 'true'
        run: uv sync --no-dev --group test

      - name: Run unit tests
        run: |
          uv run --no-sync pytest -rs tests

      - name: Run Playwright end-to-end tests
        run: |
          sh tests/run-tests.sh
